@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

/* frontend\src\index.css */
:root {
  --primary: #3c453a;
  --error: black;
}

body{
  background: white;

  margin: 0;
  font-family: 'Matemasie', sans-serif;
}